<div class="home">
    <div class="hd" style="position: relative;">
        <h1 class="page_title">WeUI</h1>
        <p class="page_desc">为微信Web服务量身设计</p>

        <a ui-sref="app.account.infos">
            <div class="right_ico" style="position:absolute;right: 20px;width: 15px;transform: rotate(45deg) translate(-50% , -50%);
         height: 15px;border-right:#c8c8c8 solid 3px;border-top:#c8c8c8 solid 3px;top:50%">

            </div>
        </a>



    </div>
    <div class="bd">
        <div class="weui_grids">
            <a ui-sref="app.account.recharge" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_button"></i>
                </div>
                <p class="weui_grid_label">
                    充值
                </p>
            </a>
            <a ui-sref="app.account.withdraw" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_cell"></i>
                </div>
                <p class="weui_grid_label">
                    提现
                </p>
            </a>
            <a ui-sref="app.account.banklist" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_toast"></i>
                </div>
                <p class="weui_grid_label">
                    银行卡
                </p>
            </a>
            <a href="#/dialog" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_dialog"></i>
                </div>
                <p class="weui_grid_label">
                    交易记录
                </p>
            </a>
            <a href="#/progress" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_progress"></i>
                </div>
                <p class="weui_grid_label">
                    密码管理
                </p>
            </a>
            <a href="#/msg" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_msg"></i>
                </div>
                <p class="weui_grid_label">
                    更多
                </p>
            </a>

        </div>
    </div>
</div>