<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>头像</p>
        </div>
        <div class="weui_cell_ft">风云</div>
    </div>
</div>
<div class="weui_cells">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>姓名</p>
        </div>
        <div class="weui_cell_ft">风云</div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>身份证</p>
        </div>
        <div class="weui_cell_ft">142725****111111</div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>手机号码</p>
        </div>
        <div class="weui_cell_ft">12345678901</div>
    </div>
</div>

<div class="weui_cells">
    <div class="weui_cell">

        <div class="weui_cell_bd weui_cell_primary" style="text-align: center; color: #ff4657">
            <p>退出登录</p>
        </div>


    </div>
</div>