<div class="overline flo pad_lr_15">

    <div class="overline bg_fff com_users_input flo">
        <div class="overline flo" style="border-bottom: #d1d1d1 solid 1px;">
            <input-phone/>
        </div>
        <div class="overline flo">
            <input type="text" name="msgcode" placeholder="请输入短信验证码">
        </div>
    </div>

    <div class="overline flo pad_tb_15">
        <button class="btn_base"> 登录</button>
    </div>

    <div class="overline flo pad_tb_15" style="text-align: center;">
        <a ui-sref="register" class="overline flo " style="color: #ff4657">注册新用户</a>
    </div>

    <div class="overline flo">
        <admin-box/>

    </div>

    <div class="overline flo">
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>

    </div>



    <button ng-click="getmore()">User-Xreate</button>


</div>