<div class="overline flo pad_lr_15">

    <div class="overline bg_fff com_users_input flo">
        <div class="overline flo" style="border-bottom: #d1d1d1 solid 1px;">
            <input type="text" name="phonenumber"
                   placeholder="请输入你的手机号">
        </div>
        <div class="overline flo">
            <input type="text" name="msgcode" placeholder="请输入短信验证码">
        </div>
    </div>

    <div class="overline flo pad_tb_15">
        <button class="btn_base"> 注册</button>
    </div>

    <div class="pos_fx pos_lb_0 overline pad_tb_15" style="text-align: center; padding-bottom: 20px">
        <a ui-sref="register" class="overline flo " style="font-size: 14px;color: #848484">注册即表示我同意海象理财的服务协议</a>
    </div>
</div>