<div class="overline flo pad_lr_15 pad_tb_10" style=" background: #fff;border-bottom: #d1d1d1 solid 1px;z-index: 30">
    <h1 class="flo web_logo" style="font-size: 20px;color: #585858"> Angular Pro</h1>

    <p class="flo_r navs">



        <span class="username" style="display: inline-block;padding:0 10px;">Helloworld</span>
        <span style="position: relative">消息</span>
        <span>代办事项</span>


        <a ng-click="ctrl.logout()">退出</a>
    </p>
</div>

<ui-view></ui-view>

<div class="pos_fx pos_lb_0 overline pad_tb_10 pad_lr_15" style="background: #fff;border-top: #d1d1d1 solid 1px;">
    <p class="foot_line">后台erp系统</p>
</div>