<div class="form-block" style="position: absolute;left:50%;top:50%;transform: translate(-50%,-50%)">
    <h1 class="form-block-title">登录</h1>
    <div class="form-content">
        <div class="form-content-line">
            <input type="text" class="form_input" ng-model="ctrl.user.usename" placeholder="用户名">
        </div>
        <div class="form-content-line">
            <input type="text" class="form_input" ng-model="ctrl.user.password" placeholder="密码">
        </div>

        <div class="form-content-line">
            <button class="btn btn_normal " ng-click="ctrl.login()"> 登录 </button>
        </div>
    </div>
</div>