ul.list {
  list-style-type: none;
}
ul.list li {
  position: relative;
  float: left;
  line-height: 2.5rem;
  border-bottom: #ededed solid 1px;
}
ul.list li a {
  float: left;
}
ul.list li a.ico {
  width: 28px;
  height: 28px;
  top: 6px;
  background: #f5f6f5;
  position: absolute;
  left: 0;
}
ul.list li b {
  float: right;
}
ul.list li b.rightlink {
  padding-right: 0.5rem;
  background: url("../static/image/rightarr.png");
  background-size: 0.5rem auto;
  background-position: right 1rem;
}
ul.list_over li {
  width: 100%;
}
