<div class="pos_fx pos_lb_0 overline bg_fff clearfid">
    <ul class="list list_main_nav overline flo">
        <li ng-repeat="item in ft_menus">
            <a href="" ui-sref="{{item.state}}">

                <div  class="main_nav_img ">
                </div>
                <p class="main_nav_catname">{{ item.catname }}</p>

            </a>
        </li>
    </ul>
    
    
</div>

<ui-alert></ui-alert>

<!--

<input-money></input-money>

-->

<!-- 引入app.home 对应view -->
<ui-view></ui-view>